<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<div class="Header">
    <header>
        <a href="https://localhost:5000">Home</a>
        <a href="http://localhost:5000/customers">Customers</a>
        <a href="https://localhost:5000/customers/Create">Create Customer</a>
    </header>
</div>
<title>@ViewData["Title"]</title>